@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Oswald:wght@200&family=Playfair+Display&display=swap');

header {
    margin: 0;
}

.bg-color-name-title{
    background-color:cornflowerblue;
}

.logo {
    background: url("../images/daniel.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}