@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Oswald:wght@200;500&family=Playfair+Display&display=swap');


/*------------------------------ Colours  */

.bg-color-name-title{
    background-color: #84A59D;
}

.ui-menu-color-home {
    background-color: #BAAD78
}

.ui-menu-color-resume {
    background-color: #F5B651
}

.ui-menu-color-contact {
    background-color: #F28482;
}

.ui-menu-color-download {
    background-color: #688D84;
}

/*----------------------------- Heading */
body {
    background-color: #F4F6F4;
}

header {
    margin: 0;
}

.heading {
    margin-left: 4rem;
    padding: 2rem;
}

.logo {
    background: url("../images/daniel.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 300px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
}

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
    height: 140px;
}

#nav {
    margin: 0;
}

#nav li {
    font-size: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 0;
}

.menuitem {
    height: 100%;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color: #F4F6F4;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #F4F6F4;
    font-size: 2rem;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
    letter-spacing: 0.25rem;
}

/*------------------------------ Hover.css  */

.hvr-sweep-to-bottom:before {
    height: 140px;
    background: rgba(48, 31, 13, 0.25);
}