@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&family=Oswald:wght@200;500&family=Playfair+Display&display=swap');


/*------------------------------ Colours  */

a > span {
    text-decoration: none;
    color: white;
}

.bg-color-name-title{
    background-color: #84A59D;
}

.ui-menu-color-home {
    background-color: #E16451;
}

.ui-menu-color-resume {
    background-color: #F6BD60;
}

.ui-menu-color-contact {
    background-color: #318273;
}

.ui-menu-color-download {
    background-color: #472C2A;
}

/*----------------------------- Heading */
body {
    background-color: #F7EDE2;
}

header {
    margin: 0;
}

.heading {
    margin-left: 50px;
    padding: 2rem;
}

.logo {
    background: url("../images/daniel.jpg");
    background-position:  center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.name {
    font-family: "Open Sans Condensed", sans-serif;
    font-weight: 300;
}

.title {
    font-family: "Oswald", sans-serif;
    font-weight: 200;
}